.align {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    text-decoration: none;
    list-style: none;
}

.itemCenter {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.dis {
    display: inline;
}

.txtalign {
    text-align: right;
    font-weight: 600;
}

.btnwidth {
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.socialbtn {
    width: 400px;
    height: 50px;
    display: flex;
    text-decoration: none;
    /* justify-content: center; */
    align-items: center;
    border: 1px solid gray;
    padding: 2px;
    gap: 20px;
    margin-bottom: 15px;
}

.socialbtn p {
    margin-top: 15px;
    font-size: 1.5em;
    font-weight: 700;
}

@media only screen and (min-width:768px) {
    .inp {
        width: 300px;
    }
}